$font-stack:    Lato, sans-serif

body
  font: 100% $font-stack  
  background-color: #fff

h1, h2, h3, h4, .navbar-light .navbar-brand
    font-family: Cinzel, sans-serif

.navbar-bg
  background-color: #85A2A6
    
h1, h2, h3, h4
  color: #666