/* You can add global styles to this file, and also import other style files */
$font-stack:    Lato, sans-serif
$primary-color: #333

/* https://www.colorcombos.com/color-schemes/349/ColorCombo349.html */
$roman-red: #D5544F
$roman-blue: #9CC5C9
$roman-tan: #CDB599
$roman-purple: #A08689

body
  font: 100% $font-stack
  color: $primary-color

h1, .navbar-light .navbar-brand
    font-family: Cinzel, sans-serif
    color: $roman-blue

.navbar-light
    background-color: #9CC5C9