 /* https://color.adobe.com/umbria01-color-theme-13731411 */

body
  font: 100% 'Lato', sans-serif
  background-color: #f7fafc
  color: #272c30

h1, h2, h3, h4, .navbar-light .navbar-brand
  font-family: 'Roboto', sans-serif
  font-weight: bold

.navbar-bg
  background-color: #fff

h1, h2, h3, h4
  color: #272c30