<div class="row mt-4">
  <div class="col-6">
    <h5 class="mb-4"><i class="fas fa-cogs"></i> Settings</h5>

    <table class="table table-sm dropdowns">
      <tr>
        <th>Week</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
      </tr>
      <tr>
        <td>Dist</td>
        <td>
          <app-distance-type-selector (onDistanceTypeChanged)="changeDistanceType(0, $event)"
            [selectedDistanceType]="trainingPlan.dayConfigs[0].distanceType">
          </app-distance-type-selector>
        </td>
        <td>
          <app-distance-type-selector (onDistanceTypeChanged)="changeDistanceType(1, $event)"
            [selectedDistanceType]="trainingPlan.dayConfigs[1].distanceType">
          </app-distance-type-selector>
        </td>
        <td>
          <app-distance-type-selector (onDistanceTypeChanged)="changeDistanceType(2, $event)"
            [selectedDistanceType]="trainingPlan.dayConfigs[2].distanceType">
          </app-distance-type-selector>
        </td>
        <td>
          <app-distance-type-selector (onDistanceTypeChanged)="changeDistanceType(3, $event)"
            [selectedDistanceType]="trainingPlan.dayConfigs[3].distanceType">
          </app-distance-type-selector>
        </td>
        <td>
          <app-distance-type-selector (onDistanceTypeChanged)="changeDistanceType(4, $event)"
            [selectedDistanceType]="trainingPlan.dayConfigs[4].distanceType">
          </app-distance-type-selector>
        </td>
        <td>
          <app-distance-type-selector (onDistanceTypeChanged)="changeDistanceType(5, $event)"
            [selectedDistanceType]="trainingPlan.dayConfigs[5].distanceType">
          </app-distance-type-selector>
        </td>
        <td>
          <app-distance-type-selector (onDistanceTypeChanged)="changeDistanceType(6, $event)"
            [selectedDistanceType]="trainingPlan.dayConfigs[6].distanceType">
          </app-distance-type-selector>
        </td>
      </tr>
      <tr class="dropdowns">
        <td>Type</td>
        <td>
          <app-day-type-selector (onDayTypeChanged)="changeDayType(0, $event)"
            [selectedDayType]="trainingPlan.dayConfigs[0].dayType">
          </app-day-type-selector>
        </td>
        <td>
          <app-day-type-selector (onDayTypeChanged)="changeDayType(1, $event)"
            [selectedDayType]="trainingPlan.dayConfigs[1].dayType">
          </app-day-type-selector>
        </td>
        <td>
          <app-day-type-selector (onDayTypeChanged)="changeDayType(2, $event)"
            [selectedDayType]="trainingPlan.dayConfigs[2].dayType">
          </app-day-type-selector>
        </td>
        <td>
          <app-day-type-selector (onDayTypeChanged)="changeDayType(3, $event)"
            [selectedDayType]="trainingPlan.dayConfigs[3].dayType">
          </app-day-type-selector>
        </td>
        <td>
          <app-day-type-selector (onDayTypeChanged)="changeDayType(4, $event)"
            [selectedDayType]="trainingPlan.dayConfigs[4].dayType">
          </app-day-type-selector>
        </td>
        <td>
          <app-day-type-selector (onDayTypeChanged)="changeDayType(5, $event)"
            [selectedDayType]="trainingPlan.dayConfigs[5].dayType">
          </app-day-type-selector>
        </td>
        <td>
          <app-day-type-selector (onDayTypeChanged)="changeDayType(6, $event)"
            [selectedDayType]="trainingPlan.dayConfigs[6].dayType">
          </app-day-type-selector>
        </td>
      </tr>
      <tr>

      </tr>
    </table>




  </div>
  <div class="col-6">
    <h5 class="mb-4"><i class="fas fa-scroll"></i> Training Plan</h5>
    <table class="table table-plan border rounded">
      <thead>
        <tr>
          <th>Week</th>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
          <th>Sun</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of trainingPlan.generatedWeeks" [ngClass]="{'taper-week': week.taper}">
          <td>{{week.weekNumber}}</td>
          <td>
            <app-day-summary [dayConfig]=" trainingPlan.dayConfigs[0]" [week]="week" [dayIndex]="0"
              [distanceType]="trainingPlan.dayConfigs[0].distanceType" [dayType]="trainingPlan.dayConfigs[0].dayType">
            </app-day-summary>
          </td>
          <td>
            <app-day-summary [dayConfig]="trainingPlan.dayConfigs[1]" [week]="week" [dayIndex]="1"
              [distanceType]="trainingPlan.dayConfigs[1].distanceType" [dayType]="trainingPlan.dayConfigs[1].dayType">
            </app-day-summary>

          </td>
          <td>
            <app-day-summary [dayConfig]="trainingPlan.dayConfigs[2]" [week]="week" [dayIndex]="2"
              [distanceType]="trainingPlan.dayConfigs[2].distanceType" [dayType]="trainingPlan.dayConfigs[2].dayType">
            </app-day-summary>

          </td>
          <td>
            <app-day-summary [dayConfig]="trainingPlan.dayConfigs[3]" [week]="week" [dayIndex]="3"
              [distanceType]="trainingPlan.dayConfigs[3].distanceType" [dayType]="trainingPlan.dayConfigs[3].dayType">
            </app-day-summary>

          </td>
          <td>
            <app-day-summary [dayConfig]="trainingPlan.dayConfigs[4]" [week]="week" [dayIndex]="4"
              [distanceType]="trainingPlan.dayConfigs[4].distanceType" [dayType]="trainingPlan.dayConfigs[4].dayType">
            </app-day-summary>
          </td>

          <td>
            <app-day-summary [dayConfig]="trainingPlan.dayConfigs[5]"
              [distanceType]="trainingPlan.dayConfigs[5].distanceType" [dayType]="trainingPlan.dayConfigs[5].dayType"
              [week]="week" [dayIndex]="5"></app-day-summary>
          </td>
          <td>
            <app-day-summary [dayConfig]="trainingPlan.dayConfigs[6]"
              [distanceType]="trainingPlan.dayConfigs[6].distanceType" [dayType]="trainingPlan.dayConfigs[6].dayType"
              [week]="week" [dayIndex]="6"></app-day-summary>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<pre>
  {{trainingPlan | json}}
</pre>
