<div class="row mt-4">
  <div class="col-6">
    <h5><i class="fas fa-cogs"></i> Settings</h5>

    <table class="table table-sm dropdowns">
      <tr>
        <th>Week</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
      </tr>
      <tr>
        <td>Dist</td>
        <td>
          <app-distance-type-selector (onDistanceTypeChanged)="changeDistanceType(0, $event)"
            [selectedDistanceType]="trainingPlan.dayConfigs[0].distanceType">
          </app-distance-type-selector>
        </td>
        <td>
          <app-distance-type-selector (onDistanceTypeChanged)="changeDistanceType(1, $event)"
            [selectedDistanceType]="trainingPlan.dayConfigs[1].distanceType">
          </app-distance-type-selector>
        </td>
        <td>
          <app-distance-type-selector (onDistanceTypeChanged)="changeDistanceType(2, $event)"
            [selectedDistanceType]="trainingPlan.dayConfigs[2].distanceType">
          </app-distance-type-selector>
        </td>
        <td>
          <app-distance-type-selector (onDistanceTypeChanged)="changeDistanceType(3, $event)"
            [selectedDistanceType]="trainingPlan.dayConfigs[3].distanceType">
          </app-distance-type-selector>
        </td>
        <td>
          <app-distance-type-selector (onDistanceTypeChanged)="changeDistanceType(4, $event)"
            [selectedDistanceType]="trainingPlan.dayConfigs[4].distanceType">
          </app-distance-type-selector>
        </td>
        <td>
          <app-distance-type-selector (onDistanceTypeChanged)="changeDistanceType(5, $event)"
            [selectedDistanceType]="trainingPlan.dayConfigs[5].distanceType">
          </app-distance-type-selector>
        </td>
        <td>
          <app-distance-type-selector (onDistanceTypeChanged)="changeDistanceType(6, $event)"
            [selectedDistanceType]="trainingPlan.dayConfigs[6].distanceType">
          </app-distance-type-selector>
        </td>
      </tr>
      <tr class="dropdowns">
        <td>Type</td>
        <td>
          <app-day-type-selector (onDayTypeChanged)="changeDayType(0, $event)"
            [selectedDayType]="trainingPlan.dayConfigs[0].dayType">
          </app-day-type-selector>
        </td>
        <td>
          <app-day-type-selector (onDayTypeChanged)="changeDayType(1, $event)"
            [selectedDayType]="trainingPlan.dayConfigs[1].dayType">
          </app-day-type-selector>
        </td>
        <td>
          <app-day-type-selector (onDayTypeChanged)="changeDayType(2, $event)"
            [selectedDayType]="trainingPlan.dayConfigs[2].dayType">
          </app-day-type-selector>
        </td>
        <td>
          <app-day-type-selector (onDayTypeChanged)="changeDayType(3, $event)"
            [selectedDayType]="trainingPlan.dayConfigs[3].dayType">
          </app-day-type-selector>
        </td>
        <td>
          <app-day-type-selector (onDayTypeChanged)="changeDayType(4, $event)"
            [selectedDayType]="trainingPlan.dayConfigs[4].dayType">
          </app-day-type-selector>
        </td>
        <td>
          <app-day-type-selector (onDayTypeChanged)="changeDayType(5, $event)"
            [selectedDayType]="trainingPlan.dayConfigs[5].dayType">
          </app-day-type-selector>
        </td>
        <td>
          <app-day-type-selector (onDayTypeChanged)="changeDayType(6, $event)"
            [selectedDayType]="trainingPlan.dayConfigs[6].dayType">
          </app-day-type-selector>
        </td>
      </tr>
      <tr>

      </tr>
    </table>


    <form>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Long Run Day</label>
        <select class="form-control form-control-sm" name="longRunDay" [(ngModel)]="trainingPlan.longRunDay">
          <option [value]="0">Monday</option>
          <option [value]="1">Tuesday</option>
          <option [value]="2">Wednesday</option>
          <option [value]="3">Thursday</option>
          <option [value]="4">Friday</option>
          <option [value]="5">Saturday</option>
          <option [value]="6">Sunday</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input " id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>


  </div>
  <div class="col-6">
    <h5><i class="fas fa-scroll"></i> Training Plan</h5>
    <table class="table table-plan border rounded">
      <thead>
        <tr>
          <th>Week</th>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
          <th>Sun</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of trainingPlan.generatedWeeks" [ngClass]="{'taper-week': week.taper}">
          <td>{{week.weekNumber}}</td>
          <td>
            <app-day-summary [dayConfig]=" trainingPlan.dayConfigs[0]" [week]="week" [dayIndex]="0">
            </app-day-summary>
          </td>
          <td>
            <app-day-summary [dayConfig]="trainingPlan.dayConfigs[1]" [week]="week" [dayIndex]="1"></app-day-summary>

          </td>
          <td>
            <app-day-summary [dayConfig]="trainingPlan.dayConfigs[2]" [week]="week" [dayIndex]="2"></app-day-summary>

          </td>
          <td>
            <app-day-summary [dayConfig]="trainingPlan.dayConfigs[3]" [week]="week" [dayIndex]="3"></app-day-summary>

          </td>
          <td>
            <app-day-summary [dayConfig]="trainingPlan.dayConfigs[4]" [week]="week" [dayIndex]="4"></app-day-summary>
          </td>

          <td>
            <app-day-summary [dayConfig]="trainingPlan.dayConfigs[5]" [week]="week" [dayIndex]="5"></app-day-summary>
          </td>
          <td>
            <app-day-summary [dayConfig]="trainingPlan.dayConfigs[6]" [week]="week" [dayIndex]="6"></app-day-summary>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<pre>
  {{trainingPlan | json}}
</pre>
