<div class="row mt-4">
  <div class="col-6">
    <h4><i class="fas fa-cogs"></i> Settings</h4>

    <table class="table table-sm dropdowns">
      <tr>
        <th>Week</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
      </tr>
      <tr>
        <td>Dist</td>
        <td>
          <app-type-of-day></app-type-of-day>
        </td>
        <td>
          <app-type-of-day></app-type-of-day>
        </td>
        <td>
          <app-type-of-day></app-type-of-day>
        </td>
        <td>
          <app-type-of-day></app-type-of-day>
        </td>
        <td>
          <app-type-of-day></app-type-of-day>
        </td>
        <td>
          <app-type-of-day></app-type-of-day>
        </td>
        <td>
          <app-type-of-day></app-type-of-day>
        </td>
      </tr>
      <tr class="dropdowns">
        <td>Type</td>
        <td>
          <app-type-of-day [selectedDayType]="trainingPlan.dayConfigs[0].dayType"></app-type-of-day>
        </td>
        <td>
          <app-type-of-day [selectedDayType]="trainingPlan.dayConfigs[1].dayType"></app-type-of-day>
        </td>
        <td>
          <app-type-of-day [selectedDayType]="trainingPlan.dayConfigs[2].dayType"></app-type-of-day>
        </td>
        <td>
          <app-type-of-day [selectedDayType]="trainingPlan.dayConfigs[3].dayType"></app-type-of-day>
        </td>
        <td>
          <app-type-of-day [selectedDayType]="trainingPlan.dayConfigs[4].dayType"></app-type-of-day>
        </td>
        <td>
          <app-type-of-day [selectedDayType]="trainingPlan.dayConfigs[5].dayType"></app-type-of-day>
        </td>
        <td>
          <app-type-of-day [selectedDayType]="trainingPlan.dayConfigs[6].dayType"></app-type-of-day>
        </td>
      </tr>
      <tr>

      </tr>
    </table>


    <form>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Long Run Day</label>
        <select class="form-control form-control-sm" name="longRunDay" [(ngModel)]="trainingPlan.longRunDay">
          <option [value]="0">Monday</option>
          <option [value]="1">Tuesday</option>
          <option [value]="2">Wednesday</option>
          <option [value]="3">Thursday</option>
          <option [value]="4">Friday</option>
          <option [value]="5">Saturday</option>
          <option [value]="6">Sunday</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input " id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>


  </div>
  <div class="col-6">
    <h4><i class="fas fa-scroll"></i> Training Plan</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Week</th>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
          <th>Sun</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of trainingPlan.generatedWeeks">
          <td>{{week.weekNumber}}</td>
          <td>{{week.days[0].distance}}</td>
          <td>{{week.days[1].distance}}</td>
          <td>{{week.days[2].distance}}</td>
          <td>{{week.days[3].distance}}</td>
          <td>{{week.days[4].distance}}</td>
          <td>{{week.days[5].distance}}</td>
          <td>{{week.days[6].distance}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<pre>
  {{trainingPlan | json}}
</pre>
